*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    height: 100px;
    background-color: cornflowerblue;
}
.banner{
    height: 100px;
    background-color: burlywood;
}
.footer{
    height: 100px;
    background-color: cadetblue;
}